body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #832e0e, #ff5e00, #ff9100);
  background-size: 400% 400%;
}
.fondo404 {
  background-image: url(../assets/img/Diseño\ sin\ título.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  height: 40%;
  max-width: 90%;
}
.btnborder {
  border-color: white;
}
.btnborder:hover {
  background-color: rgb(235, 158, 25);
}
.title404 {
  font-size: 60px;
}

p {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1em;
  }
}
