body {
    background: rgb(38,1,32);
    background: linear-gradient(180deg, rgba(38,1,32,1) 0%, rgba(57,5,64,1) 50%, rgba(13,13,13,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
  }

  .btn-option {
    transform: scale(0.2 linear);
    border-radius: 12px;
    font-size: 25px;
  }
  
  .btn-option:hover {
    background-color: #d95043;
    transform: scale(1.2);
    box-shadow: 0 4px 8px;
  }

  .btn-none {
    transform: scale(0.2 linear);
    border-radius: 12px;
    font-size: 25px;
  }

  .btn-none:hover {
    cursor: not-allowed;
    background-color: black;
    
    }
  
  
  .filters {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filter-select {
    background-color: rgba(217, 80, 67,0.9);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* .chapter {
    transition: transform 0.1s linear;
    border: 1px solid white;
    height: 50px;
  }
  .chapter:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px white, 0 0 25px white;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .chapter a {
    text-decoration: none;
    color: white;
  }

  .chapter i {
    color:#d95043;
  }

  .chapter > a > img {
    width: 100%;
    height: 80%;
  } */


  .suggestion {
    transition: transform 0.1s linear;
    border: 1px solid black;
    border-radius: 7px;
    height: 250px;
  }
  .suggestion:hover {
    transform: scale(1.03);
    border-color: white;
  }


  @media (min-width: 1024px) {
    .suggestion {
      height: 400px;
    }
  }

  @media (min-width: 768px) and (max-width:1023px) {
    .suggestion {
      height: 300px;
    }
  }
