body {
  background: linear-gradient(-45deg, #211212, #4d2626, #230c0c, #632020);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
}

.title {
  transition: transform 0.3s ease-in-out;
  margin-top: 80px;
}

.title:hover {
  transform: scale(1.1);
}



.btn-none {
  transform: scale(0.2 linear);
}

.btn-none:hover {
  cursor: not-allowed;
  background-color: black;
}

.filters {
  text-align: center;
  margin-bottom: 20px;
}

.filter-select {
  background-color: rgba(217, 80, 67, 0.9);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.suggestion {
  transition: transform 0.3s ease-in-out;
  border: 1px solid black;
  border-radius: 7px;
  height: 250px;
}
.suggestion:hover {
  transform: scale(1.03);
  border-color: white;
}

@media (min-width: 1024px) {
  .suggestion {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .suggestion {
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    margin-top: 130px;
  }
}
