/* .carousel-item {
  display: flex;
  justify-content: center;
} */
.imagenpelicula img {
  max-width: 200px;
  max-height: 250px;
  object-fit: cover;
}

.button-card {
  transform: scale(0.2 linear);
  border-radius: 12px;
}

.button-card:hover {
  background-color: #260808;
  transform: scale(1.2);
  box-shadow: 0 4px 8px ;
}

.card-text {
  color: var(--color5);
  font-weight: bold;
  
}
.card > a {
  text-decoration: none;
}

.col-md-1 i {
  transition: transform 0.2s ease-in-out;
}

.col-md-1 i:hover {
  transform: scale(1.2);
}

.card {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px var(--color4);
  box-shadow: 0 0 5px white, 0 0 25px white;
}

.card:hover {
  transform: scale(1.05);
  color: var(--color4);
}


/* :root {
    --max-h-img: max-height:50px;
    --max-w-img: max-width:40px;
  }

  .max-h-img {
    max-height: var(--max-h-img);
  }
  .max-w-img {
    max-width: var(--max-w-img);
  } */
