body {
  background: linear-gradient(-45deg, #361818, #4d2626, #5c1313, #632020);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main {
  margin-top: 10%;
}
.form-control {
  border: rgb(6, 0, 0) 1px solid;
}
.body-contenedor {
  padding-top: 5%;
  margin: 10px;
}

.form-contenedor {
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  background-color: rgb(37, 8, 8);
  backdrop-filter: blur(10px);
}

.button {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 150px;
}

.redes-sociales {
  display: flex;
  justify-content: center;
}
.icon-red {
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin: 30px;
}
p {
  font-size: 15px;
}

li {
  margin: 10px;
}

hr {
  color: white;
}

@media (min-width: 1024px) {
  main {
    margin-top: 6%;
  }
}
