.contenedor-vista {
  margin: auto;
  max-width: 1399px;
}

.padding-cont {
  padding: 72px 0px;
}

.padding-cont-botton {
  padding-bottom: 72px;
}

.poster-contenedor {
  /* position: fixed; */
  width: 100%;
}
.poster-contenedor:before {
  content: "";
  background: linear-gradient(
    to top,
    rgba(23, 23, 22),
    rgba(23, 23, 22, 0.71),
    rgba(23, 23, 22, 0.434),
    rgba(23, 23, 22, 0.237),
    rgba(23, 23, 22, 0.903)
  );
  inset: 0;
  position: absolute;
}

.resumen-pelicula {
  width: 40%;
  color: white;
}

.datos-pelicula {
  background: rgba(23, 23, 22, 0.861);
  color: rgb(177, 176, 176);
  padding: 2px 8px;
}
