/* ?????? portada pelicula y contenido */
.poster-contenedor {
  position: fixed;
  width: 100%;
  border: 2px solid black;
}
.poster-contenedor:before {
  content: "";
  background: linear-gradient(
    to top,
    rgba(23, 23, 22),
    rgba(23, 23, 22, 0.71),
    rgba(23, 23, 22, 0.434),
    rgba(23, 23, 22, 0.822),
    rgb(0, 0, 0)
  );
  inset: 0;
  position: absolute;
}

.detalles-contenedor {
  top: 72px;
}

.contenedor-vista {
  margin: auto;
  max-width: 1200px;
  padding: 0 16px;
}

.padding-cont {
  padding: 72px 0;
}

.resumen-pelicula {
  max-width: 767px;

  p {
    color: white;
    font: 1.25rem;
  }
}

.datos-pelicula {
  background: rgba(23, 23, 22, 0.861);
  color: rgb(177, 176, 176);
  padding: 2px 8px;
}

.button-play:hover {
  backdrop-filter: blur(50px);
  background: rgb(255, 0, 0);
}

.button-agregar:hover {
  color: white;
}

/* ?????elenco */

.elenco-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  .cards-elenco {
    backdrop-filter: blur(20px);
    background: rgb(var(--color-primario) / 50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
  }
  .card-img {
    height: 200px;

    img {
      border-radius: 16px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

/* ?carrusel peliculas recomendadas */

.pelicula-zoom {
  img {
    width: 17rem;
    transition: all 30ms;
    position: relative;
    margin: 5px 0;
  }
  img:hover {
    transform: scale(1.15s);
  }
}

.padding-cont-bottom {
  padding-bottom: 72px;
}

.carousel-contenedor {
  margin: 120px 0;
}

/* ?/???????????? media queries */

@media screen and (max-width: 480px) {
  .botones-pelicula-contenedor {
    flex-direction: column;
  }

  .cards-elenco {
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.116);
    flex-direction: row;
    .card-img {
      height: 32px;
      width: 32px;
      img {
        border-radius: 50%;
      }
    }
  }
  .sweet-girl {
    margin-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  .pelicula-zoom {
    img {
      width: 15rem;
      height: 11rem;
    }
  }
}
