@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.info {
  background-color: rgba(0,0,0,0.3);
  color: white;
  width: 100%;
  min-height: auto;
}

.movie-title {
  font-weight: 1000;
  background-image: linear-gradient(45deg, #d95043, #8630bf);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.little-tittle {
    font-size: 1.4rem;
}
.play-trailer {
  transition: transform 0.5s linear;
}

.play-trailer:hover {
  transform: scale(1.2);
}

.trailermodal {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.bg-modal {
  background: linear-gradient(80deg, #260120, #8630bf);;
}

.favourite {
  transition: transform 0.3s linear;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
}

.favourite:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.favourite:focus {
  color: #d95043;
}

.title-season {
    font-size: x-large;
    background-color: var(--color4);
}

.title-season:hover {
    box-shadow: 0 0 5px #d95043, 0 0 25px #d95043;}



.title-accordion {
  font-size: x-large;
  background-color: rgba(0,0,0, 0.8);
  width: 40%;
  transform: scale(0.2 linear);
  border-radius: 12px;

}
.title-accordion:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #d95043, 0 0 25px #d95043;
}

.title-accordion:active {
    box-shadow: 0 4px 8px #d95043;
    box-shadow: 0 0 5px #d95043, 0 0 25px #d95043;
  }

/* .btn-option {
  transform: scale(0.2 linear);
  border-radius: 12px;
  font-size: 25px;
}

.btn-option:hover {
  background-color: #260808;
  transform: scale(1.2);
  box-shadow: 0 4px 8px;
} */



.chapter {
    transition: transform 0.1s linear;
  }
  .chapter:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px white, 0 0 25px white;
  }

.data-info-title {
  color: #d95043;
  font-size: 1.4rem;
}

.data-info-title:hover {
  text-decoration: underline;
}

.details-info a {
  text-decoration: none;
  color: white;
}

.suggestion {
  transition: transform 0.1s linear;
  border: 1px solid black;
  border-radius: 7px;
  
}
.suggestion:hover {
  transform: scale(1.03);
  border-color: white;
}


body {
  background-image: url(/assets/img/bgHOTD.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}