@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* .merriweather-light {
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
  --color1: #260120;
  --color2: #390540;
  --color3: #8630bf;
  --color4: #d95043;
  --color5: #0d0d0d;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bg-color1 {
  background-color: var(--color1);
}

.bg-color2 {
  background-color: var(--color2);
}

.bg-color3 {
  background-color: var(--color3);
}

.bg-color4 {
  background-color: var(--color4);
}

.bg-color5 {
  background-color: var(--color5);
}

.text-color1 {
  color: var(--color1);
}

.text-color2 {
  color: var(--color2);
}

.text-color3 {
  color: var(--color3);
}

.text-color4 {
  color: var(--color4);
}

.text-color5 {
  color: var(--color5);
}

.font1 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

/* .pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  } */

/* font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

:root {
  --fuente-primaria: "DM Sans", sans-serif;
  --fuente-secundaria: "PT Serif", serif;
  --color-primario: #0d0d0d;
  --color3: rgb(207, 5, 5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-primario);
  font-family: var(--fuente-primaria);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  border-bottom: none;
  background: linear-gradient(
    to bottom,
    rgba(34, 32, 32, 0.771),
    rgba(0, 0, 0, 0.189)
  );
  position: fixed;
  z-index: 1;

  i {
    color: white;
  }

  .logo-wired {
    width: 15%;
  }

  .contenedor-opciones {
    a {
      color: white;
    }
    .boton-user {
      border-radius: 50%;
    }
  }

  .ul-contenido {
    li {
      a {
        position: relative;
        text-transform: uppercase;
      }
      a:hover {
        color: var(--color3);
      }
      a:before,
      a:after {
        background-color: var(--color3);
        content: "";
        height: 3px;
        width: 0;
        position: absolute;
        bottom: -3px;
        transition: width 0.3s ease-in-out;
      }
      a:before {
        left: 0;
      }
      a:after {
        right: 0;
      }
      a:hover:before,
      a:hover:after {
        width: 100%;
      }
    }
  }
}

.footer {
  width: 100%;
  position: relative;

  .grupo1 {
    margin: auto;
    padding: 45px 0;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    .box {
      h4 {
        position: relative;
      }
      h4:before {
        width: 50px;
        content: "";
        position: absolute;
        left: 50;
        bottom: -10px;
        height: 2px;
        box-sizing: border-box;
        background-color: var(--color3);
      }
      ul {
        li {
          margin-bottom: 10px;
        }
        a {
          display: block;
          transition: all 0.3s ease;
        }
        a:hover {
          padding-left: 8px;
        }
      }
      figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 200px;
        }
      }
      h4 {
        font-size: 20px;
      }

      .redes {
        font-size: x-large;
      }
    }
  }
  .grupo2 {
    padding: 15px 10px;
    border-top: 2px solid #584f4f39;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .logo-wired {
    width: 30%;
  }

  .boton-hamburguesa {
    width: 50px;
    height: 35px;
    display: flex;
    span {
      height: 25px;
      display: flex;
      justify-content: center;
    }
  }
  .footer {
    .grupo1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      font-size: 10px;

      .box {
        figure {
          margin: 0;
          img {
            width: 150px;
          }
        }
        .redes {
          font-size: medium;
        }
      }
    }
    .grupo2 {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .logo-wired {
    width: 20%;
  }
  .contenedor-opciones {
    display: flex;
    justify-content: space-between;
  }
  .footer {
    .grupo1 {
      padding: 25px 0;
      .box {
        figure {
          img {
            width: 150px;
          }
        }
      }
    }
  }
.font2 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.bungee-outline-regular {
  font-family: "Bungee Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.bungee-outline-regular {
  font-family: "Bungee Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.bungee-outline-regular {
  font-family: "Bungee Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}
