@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* .merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

/* .pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  } */

/* font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

:root {
  --fuente-primaria: "DM Sans", sans-serif;
  --fuente-secundaria: "PT Serif", serif;
  --color-primario: #0d0d0d;
  --color2: #260120;
  --color3: rgb(207, 5, 5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-primario);
  font-family: var(--fuente-primaria);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* main {
  min-height: 80vh;
} */

.logo-wired {
  width: 30%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  border-bottom: 2px solid rgba(204, 204, 204, 0.462);
  background: linear-gradient(
    to bottom,
    rgba(23, 23, 22, 0.675),
    rgba(207, 5, 5, 0)
  );
  position: fixed;
  z-index: 1;

  i {
    color: white;
  }

  .contenedor-opciones {
    a {
      color: white;
    }
  }

  .ul-contenido {
    li {
      a {
        position: relative;
        text-transform: uppercase;
      }
      a:hover {
        color: var(--color3);
      }
      a:before,
      a:after {
        background-color: var(--color3);
        content: "";
        height: 3px;
        position: absolute;
        width: 0;
        bottom: -3px;
        transition: width 0.3s ease-in-out;
      }
      a:before {
        left: 0;
      }
      a:after {
        right: 0;
      }
      a:hover:before,
      a:hover:after {
        width: 100%;
      }
    }
  }
}

/* footer {
  height: 250px;
} */

/* .contenedor-logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .cont-log-foot {
    width: 50%;
    height: 40%;
  }
} */

.contenedor {
  width: 1170px;
  margin: auto;
}
.cont-flex {
  flex-wrap: wrap;
}

.columnas {
  h4 {
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
  }

  h4:before {
    content: "";
    position: absolute;
    left: 50;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    background-color: var(--color3);
  }
  ul {
    li:not(:last-child) {
      margin-bottom: 10px;
    }
    a {
      text-transform: capitalize;
      display: block;
      transition: all 0.3s ease;
    }
    a:hover {
      padding-left: 8px;
    }
  }
}
/* ? media queries //////////////////////////////////// */

@media only screen and (min-width: 480px) {
  .logo-wired {
    width: 20%;
  }

  .contenedor-logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .cont-log-foot {
      width: 80%;
      height: 40%;
    }
  }

  .contenedor-opciones {
    display: flex;
    justify-content: space-between;

    .boton-user {
      border-radius: 50%;
    }
  }
  .contenedor-app {
    width: 30%;
    .contenedor-ap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .cont-apps {
        display: flex;
        justify-content: center;
        .apps {
          width: 70%;
          margin: 5px;
        }
      }
    }
  }
  .contenedor-legales {
    display: flex;
    align-items: center;
    a {
      font-size: 90%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .logo-wired {
    width: 15%;
  }

  .contenedor-opciones {
    display: flex;
    justify-content: space-around;
  }
  /* footer {
    .contenedor-footer {
      width: 100%;
    }
    .contenedor-app {
      width: 30%;
    }
    .contenedor-logo-footer {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      .cont-log-foot {
        width: 80%;
        height: 40%;
      }
    }
    .contenedor-opciones-footer {
      display: flex;
    }
    .contenedor-legales {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        font-size: large;
      }
    }

    .cont-apps {
      display: flex;
    }
  } */

  .redes {
    font-size: x-large;
  }
}
