@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap");

/* .merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

/* .pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  } */

body {
  margin: 0;
}

.logo-wired {
  width: 30%;
}

/* ? media queries //////////////////////////////////// */

@media only screen and (min-width: 480px) {
  .logo-wired {
    width: 20%;
  }

  .contenedor-opciones {
    display: flex;
    justify-content: space-between;

    .boton-user {
      border-radius: 50%;
    }
  }
}
